ion-content {
    --background: none;
    background-image: url('../../assets/beaultAPP.png');
  }
  

ion-card{
    background-color: rgb(20, 20, 20);
    //opacity: 0.5;
}

ion-card-title{
    color: white;
}

.importante{
    font-weight: bold;
    color: violet;
}

.emdestaque {
    //text-transform: uppercase;
    //text-decoration: underline;
    color: violet;
}