<ion-header>
  <ion-toolbar>
    <ion-title>Contato</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>telefone</ion-card-subtitle>
      <ion-card-title>(27)930004-2905</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Ligue e conheça nossos planos, ou se preferir, chame no telegram!
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>e-Mail</ion-card-subtitle>
      <ion-card-title>contato@informaticode.com.br</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Use o e-mail caso precise de enviar anexos maiores.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>site</ion-card-subtitle>
      <ion-card-title>www.informaticode.com.br</ion-card-title>
    </ion-card-header>
  
    <ion-card-content class="importante">
      Para mais informações acesse o site. 
    </ion-card-content>
  </ion-card>

  
</ion-content>
